

<li>
	{{name}}

	<button class="burger-eaten" data-id="{{id}}" data-newburger="{{devoured}}">
		Devour it!
	</button>

	{{!-- <button class="delete-btn" data-id="{{this.id}}">

		DELETE

	</button> --}}
</li>