<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Burger App</title>

    {{!-- Custom CSS --}}
    <link rel="stylesheet" type="text/css" href="../public/assets/css/burger_style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">




</head>

<body>


    <div class="container">

        <div class="jumbotron jumbo">
            <div>
                <h1>BurgerApp <img class="burger-img" src="../public/assets/img/burger-icon.png">

                </h1>
                <hr class="my-4">

            </div>


            <div class="form">

                <label for="search-label">Enter your favorite burger type below!</label>

                <input type="text" class="form-control" id="add-burger">


            </div>

            <button type="submit" class="btn btn-success success-btn" id="add-btn">

                <i class=""></i>Add burger

            </button>


        </div>

        <div class="row">
            <div id="column-header" class="col-sm-4 col-md-4 col-lg-4">Burger Type</div>
            <div id="column-header" class="col-sm-4 col-md-4 col-lg-4">Hungry?</div>
            <div id="column-header" class="col-sm-4 col-md-4 col-lg-4">Burgers Eaten</div>
        </div>

        <div class="row">
            <div class="burger-names" id="body-column" class="col-sm-4 col-md-4 col-lg-4">
                
                <ol>
                    {{#each burgers}}
                    {{> names}}
                    {{/each}}

                </ol>

            </div>
            <div id="body-column" class="col-sm-4 col-md-4 col-lg-4">

                <ol>
                    {{#each burgers}}
                    {{> burger}}
                    {{/each}}

                </ol>
                
            </div>

            <div id="body-column" class="col-sm-4 col-md-4 col-lg-4">move burger here if it's been eaten</div>
        </div>


    </div>


    {{!-- Jquery link --}}
    <script src="https://code.jquery.com/jquery.js"></script>

    {{!-- Link to the front end js file --}}
    <script src="../public/assets/js/burgers.js"></script>


</body>

</html>