



#body-column {
    background-color: aquamarine;
    height: auto;
    width: auto;
    padding: 10px;
    overflow: auto;
    border: solid 1px black;

}


#column-header {
    text-align: center;
    font-size: 18px;
    font-weight: 600;


}


.burger-img {
    margin-left: 5px;
    height: 40px;
    width: 40px;

}

#add-burger {
    width: 360px;
    float: left;
    margin-right: 20px;
}


