



#body-column {
    background-color: aquamarine;
    height: 300px;
    width: 50%;
    padding: 2px;
    overflow: auto;
    border: solid 1px black;


}


#column-header {
    text-align: center;
    font-size: 18px;
    font-weight: 600;


}



.burger-img {
    margin-left: 5px;
    height: 40px;
    width: 40px;

}

.my-form {
    width: 360px;
    float: left;
    margin-right: 10px;
}

#add-burger {
    width: 360px;
    float: left;
    margin-bottom: 10px;
}

#add-btn {
    float: left;
    margin-right: 10px;
}

.jumbo {
    overflow: auto;
    padding: 12px!important;
}




